*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.card-text {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}